.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
coverage/
backend/node_modules/
backend/.env

android/.gradle/
android/app/build/
android/local.properties
android/key.properties
android/app/*.jks
android/app/*.keystore

ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
